@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');    
.navbar-brand{
    font-size:2rem;
    color:#de6300;
}
.navbar-brand:hover{
    color:#9c8fc5;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
   
}


.container{
    background-color: white;
}
.search{
    height :40px;
    width: 160px;
    border-radius: 60px;
    outline: none;
    border: 2px solid #de6300;;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color:#de6300;
    color:white;
    border-radius: 60px;
    font-weight: 700;
    margin-left: 5px;
}
.btn0:hover{
    background-color: #9c8fc5;;
}


#sous_shop{
    display: none;
    background-color: #9c8fc5;
}

li:hover #sous_shop{
    display: flex;
    position: absolute;
    
}
