.lien{
    color:grey;
    font-size: small;
    text-decoration: none;
}
.lien:hover{
    color:black;
}
.prix_unite{
   font-size: 42px;
   color:#9c8fc5;
}
.prix_pot{
    color:black;
}
.autre{
    margin-bottom: 20px;
    height: 110px;
    width: 200px;
}
.principal{
    width: 500px;
    height: 400px;
}
.autre:hover{
    opacity: 0.5;
   
}

